In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
data=[1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]

In [13]:
df=pd.DataFrame(data=data)
df.rename(columns={0:'values'},inplace=True)

In [14]:
df

    values
0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29

In [15]:
df.describe()

          values
count  15.000000
mean    1.238667
std     0.193164
min     0.850000
25%     1.155000
50%     1.250000
75%     1.345000
max     1.550000

In [16]:
mean=df.values.mean()
std_div=df.values.std()
print("mean=",mean)
print("standard deviation=",std_div)

mean= 1.2386666666666666
standard deviation= 0.18661427836285438

In [17]:
df_ci=stats.norm.interval(0.99,
loc=mean,
scale=std_div)
print("confidence interval at 99% ",np.round(df_ci,4))

confidence interval at 99%  [0.758  1.7194]

The confidence interval using sample satanard deviation at 99% confidence interval is 0.758,1.719

In [19]:
standard_div = 0.2 
n = len(data)
confidence_value = 0.99

sample_mean = np.mean(df.values)

critical_value = norm.ppf(1 - (1 - confidence_value) / 2)

margin_of_error = critical_value * (standard_div / np.sqrt(n))

confidence_interval = np.round((sample_mean - margin_of_error, sample_mean + margin_of_error),4)

confidence_interval

array([1.1057, 1.3717])

The confidence interval using population mean standard deviation at 99% confidence interval is 1.105 and 1.371