In [1]:
import pandas as pd
import numpy as np
from scipy import stats

## CHI_SQUARE TEST

Null hypothesis(H0): There is no significant association between the type of device purchased and the customer's satisfaction level.

Alternate hypothesis(H1):There is a significant association between the type of device purchased and the customer's satisfaction level.

In [2]:
data={
    "Satisfaction": ["Very Satisfied", "Satisfied", "Neutral", "Unsatisfied", "Very Unsatisfied"],
    "Smart Thermostat": [50, 80, 60, 30, 20],
    "Smart Light": [70, 100, 90, 50, 50],
    }
table=pd.DataFrame(data)
df=table.drop('Satisfaction',axis=1)
df

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

In [3]:
# critical value=0.05
from scipy.stats import chi2_contingency
chi, p, dof, expected = chi2_contingency(df)
print(p)

0.22784371130697179

So that we accept null hypothesis and reject alternate hypothesis.

CONCULSION: So that there is no significant association between the type of device purchased and the customer's satisfaction level.

## HYPOTHESIS_TESTING

Null hypothesis(H0):The weekly operating cost is equal to model prediction.

Alternate hypothesis(H1): The weekly operating cost is greater than the model prediction

In [4]:
# x=3050,sigma==5*25=125,u=1000+(5*x=600)
z=(3050-4000)/(125/np.sqrt(25))
z

-38.0

In [5]:
# critical value=0.05
stats.norm.ppf(0.975)

1.959963984540054

So that we reject null hypothesis and accept alternate hypothesis.

CONCLUSION: This means that the weekly cost is higher than the model predicted cost.